# Database
DATABASE_URL="postgresql://user:password@localhost:5432/hydyrov_dental?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-in-production"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Dr. Hydyrov Arslan"
